In [159]:
import pandas as pd
import numpy as np

In [160]:
data = pd.read_csv('preprocessing/stock0_time5_book_trade.csv')

In [161]:
data['wap'] = (data['price'] * data['size']) / data['size']

In [162]:
data.drop(data.columns[0], axis=1, inplace=True)

In [163]:
data.fillna(0, inplace=True)

In [164]:
book_train_df = pd.read_parquet('data/book_train.parquet/stock_id=0')
trade_train_df = pd.read_parquet('data/trade_train.parquet/stock_id=0')

In [165]:
train = pd.read_csv('data/train.csv')

In [166]:
train_df = train[train['stock_id']==0]
train_df['row_id'] = train_df['stock_id'].astype(str) + \
    '-' + train_df['time_id'].astype(str)

/tmp/ipykernel_22923/2522654585.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['row_id'] = train_df['stock_id'].astype(str) + \

In [167]:
book_train_df['bid-ask'] = book_train_df['bid_price1'] * book_train_df['bid_size1']\
    - book_train_df['ask_price1'] * book_train_df['ask_size1']

In [168]:
book_train_df['ask-bid'] = book_train_df['ask_price1'] * book_train_df['ask_size1']\
    - book_train_df['bid_price1'] * book_train_df['bid_size1']

In [169]:
book_train_df

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2,bid-ask,ask-bid
0,5,0,1.001422,1.002301,1.001370,1.002353,3,226,2,100,-223.515835,223.515835
1,5,1,1.001422,1.002301,1.001370,1.002353,3,100,2,100,-97.225867,97.225867
2,5,5,1.001422,1.002301,1.001370,1.002405,3,100,2,100,-97.225867,97.225867
3,5,6,1.001422,1.002301,1.001370,1.002405,3,126,2,100,-123.285702,123.285702
4,5,7,1.001422,1.002301,1.001370,1.002405,3,126,2,100,-123.285702,123.285702
...,...,...,...,...,...,...,...,...,...,...,...,...
917548,32767,568,0.998275,0.998754,0.997796,0.998946,90,90,48,28,-0.043119,0.043119
917549,32767,569,0.998275,0.998754,0.997892,0.998946,91,90,200,28,0.955156,-0.955156
917550,32767,571,0.998275,0.998754,0.997892,0.998946,91,90,100,28,0.955156,-0.955156
917551,32767,572,0.998275,0.998754,0.997892,0.998946,92,90,100,28,1.953431,-1.953431
917552,32767,582,0.998275,0.998754,0.998179,0.998946,92,90,26,28,1.953431,-1.953431

In [170]:
book_train_df.insert(len(book_train_df.columns),'impact',0)

In [171]:
book_train_df

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2,bid-ask,ask-bid,impact
0,5,0,1.001422,1.002301,1.001370,1.002353,3,226,2,100,-223.515835,223.515835,0
1,5,1,1.001422,1.002301,1.001370,1.002353,3,100,2,100,-97.225867,97.225867,0
2,5,5,1.001422,1.002301,1.001370,1.002405,3,100,2,100,-97.225867,97.225867,0
3,5,6,1.001422,1.002301,1.001370,1.002405,3,126,2,100,-123.285702,123.285702,0
4,5,7,1.001422,1.002301,1.001370,1.002405,3,126,2,100,-123.285702,123.285702,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
917548,32767,568,0.998275,0.998754,0.997796,0.998946,90,90,48,28,-0.043119,0.043119,0
917549,32767,569,0.998275,0.998754,0.997892,0.998946,91,90,200,28,0.955156,-0.955156,0
917550,32767,571,0.998275,0.998754,0.997892,0.998946,91,90,100,28,0.955156,-0.955156,0
917551,32767,572,0.998275,0.998754,0.997892,0.998946,92,90,100,28,1.953431,-1.953431,0
917552,32767,582,0.998275,0.998754,0.998179,0.998946,92,90,26,28,1.953431,-1.953431,0

In [172]:
book_train_df.columns

Index(['time_id', 'seconds_in_bucket', 'bid_price1', 'ask_price1',
       'bid_price2', 'ask_price2', 'bid_size1', 'ask_size1', 'bid_size2',
       'ask_size2', 'bid-ask', 'ask-bid', 'impact'],
      dtype='object')

In [ ]:
book_train_df['impact'] = book_train_df['bid-ask'].where(book_train_df['bid-ask'] > 0,\
     book_train_df['bid-ask'])

book_train_df['impact'] = book_train_df['ask-bid'].where(book_train_df['ask-bid'] > 0,\
     book_train_df['ask-bid'])

In [174]:
book_train_df

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2,bid-ask,ask-bid,impact
0,5,0,1.001422,1.002301,1.001370,1.002353,3,226,2,100,-223.515835,223.515835,None
1,5,1,1.001422,1.002301,1.001370,1.002353,3,100,2,100,-97.225867,97.225867,None
2,5,5,1.001422,1.002301,1.001370,1.002405,3,100,2,100,-97.225867,97.225867,None
3,5,6,1.001422,1.002301,1.001370,1.002405,3,126,2,100,-123.285702,123.285702,None
4,5,7,1.001422,1.002301,1.001370,1.002405,3,126,2,100,-123.285702,123.285702,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
917548,32767,568,0.998275,0.998754,0.997796,0.998946,90,90,48,28,-0.043119,0.043119,None
917549,32767,569,0.998275,0.998754,0.997892,0.998946,91,90,200,28,0.955156,-0.955156,None
917550,32767,571,0.998275,0.998754,0.997892,0.998946,91,90,100,28,0.955156,-0.955156,None
917551,32767,572,0.998275,0.998754,0.997892,0.998946,92,90,100,28,1.953431,-1.953431,None
917552,32767,582,0.998275,0.998754,0.998179,0.998946,92,90,26,28,1.953431,-1.953431,None